body {
  margin: 0;
  background-image: linear-gradient(to right, #160042 0%, #12107a 30%, #071228 100%);
  color: #d1e3ef;
  font-family: "Raleway", "Helvetica", sans-serif;
}

.prevent-scrolling {
  overflow: hidden;
}

@font-face {
  font-family: "Raleway";
  src: url("/raleway.ttf")
}

#root {
  height: 100vh;
}