.link-container {
  position: relative;
  width: 32rem;
  height: 4rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  border: 2px solid var(--highlight-color);
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.link-container:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 4rem var(--highlight-color);
}

.link-icon {
  margin-left: 0.5rem;
}